<robot name="ball"><material name="black"><color rgba="0.0 0.0 0.0 1.0" /></material><link name="ball"><visual><material name="black" /><origin xyz="0 0 0" /><geometry><sphere radius="0.005" /></geometry></visual><collision><origin xyz="0 0 0" /><geometry><sphere radius="0.005" /></geometry></collision><inertial><mass value="0.0001" /><inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" /></inertial></link></robot>